/*Importação das fontes que foram utilizadas*/
@font-face {
    font-family: 'Bombing';
    src: url(./Fontes/Bombing.ttf);
}

@font-face {
    font-family: 'Graffiti_City';
    src: url(./Fontes/Graffiti_City.otf);
}

@font-face {
    font-family: 'Dripping';
    src: url(./Fontes/Dripping.ttf);
}

/*Formatação no Body inteiro*/
body{
    background-image: url(/Imagens/bg_mileriss.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

/*Formatação no Titulo do Fieldset*/
legend{
    text-align: center;
    font-size: 50px;
    font-family: 'Dripping';
    color: black;
    -webkit-text-stroke: 1px lightsteelblue;
}


/*Formatação do Fieldset*/
#fieldset-principal{
    border-width: 5px;
    border-radius: 30px;
    border-top-color: lightsteelblue;
    border-right-style: outset;
    border-right-color: lightslategray;
    border-left-style: outset;
    border-left-color: lightsteelblue;
    border-bottom-color:  lightslategray;
    width: 250px;
    background-color: lightslategray;
    margin: auto;
    margin-top: 10%;    
}


/*Formatação das Labels*/
.labels{
    font-family: 'Graffiti_City';
    font-size: 40px;
    color: black;
    text-align: center;
    border-radius: 10%;
}

.labels:hover{
    background-image: linear-gradient(to right, lightsteelblue, lightslategray);
}

/*Formatação dos campos de input*/
.inputs{
    font-family: 'Bombing';
    font-size: 30px;
    justify-content: center;
    border-radius: 5px;
    cursor: crosshair;
}

.inputs:hover{
    transition: 0.5s;
    border-color: blue;
}

.inputs:active{
    background-color: rgba(0, 0, 255, 0.479);
    color: white;
}

/*Formatação do Checkbox*/
.checkbox{
    cursor: pointer;
}

/*Formatação do botão*/
.buttons{
    font-family: 'Graffiti_City';
    font-size: 20px;
    text-align: center;
    margin-left: 35%;
}

.buttons:hover{
    border-width: 2px;
    border-color: blue;
    cursor:grab;
}

.buttons:active{
    cursor: grabbing;
    border-color: rgba(0, 0, 255, 0.678);
}

/*Div criada para os elementos*/
.bloco-login{
    display: flex;
    justify-content: top;
}
